/Java/Regex/nbproject/private/
/Java/Regex/dist/
/Java/Regex/build/
/Java/Tree/nbproject/private/
/Java/Tree/build/
/Java/Tree/dist/
/Java/Personal/nbproject/private/
/Java/Personal/dist/
/Java/Personal/build/
/Java/Generator/nbproject/private/
/Java/Generator/build/
/Java/Generator/dist/